<% flash.each do |flash_type, flash_content| %>
  <div class="ui <%= flash_type %> message transition">
    <i class="close icon"></i>
    <div class="header">
      <%= flash_content %>
    </div>
  </div>
<% end %>